
#adminin{
    position: absolute;
    right: 15px;}
#adminout{
    position: absolute;
    right: 15px;}
#carousel{
    background-color: #a11c00;
}
.navbar {
    margin-bottom: 0px;
}



.card-img-top {
    height: 150px;
}